.header {/*header*/
    grid-area: header;
    position:sticky;
    top: 0;
    z-index: 100;
    margin: 0 auto;
    @include medidas (100%, 100px);
    display: flex;
    background-color: map-get($colores , primario);
    border-bottom: 1px solid map-get($colores , secundario );
    @include shadow (0, 4px);
    #logo { /*logo*/
        position: relative;
        right: 120px;
        bottom: 4px;
        @include medidas (220px, unset);
        a {/*link logo*/
            color: map-get($colores, salmon-claro);
        }
    }
    nav {
        @include flex(flex, space-evenly, unset);
        width: $full-width;
            .navbar-toggler-icon {
                color: map-get($colores , secundario);
                }
        ul { 
            padding: 10px;
            height: 110px;
            display: inline-flex;
            align-items: center;
            li {
                a { 
                    margin: 30px;
                    padding: 5px;
                    @include font-roboto(700, false, 22px, 1.3);
                    letter-spacing: 2px;
                    text-decoration: none;
                    color: map-get($colores , salmon-oscuro) ;
                    transition: 0.4s ease;
                    &:hover{
                        color: map-get($colores, terciario);
                        transform: scale(1.2);
                    }
                    &#active {
                        color: map-get($colores , terciario);
                        background-color: map-get($colores, detalles-naranja);
                        @include shadow (5px, 4px, secundario);
                    }    
                }
            }    
        }
    }
    #logo-redes {
        @include flex(flex, center, center);
        @include medidas (250px, 100px);
        margin-top: 5px;
        margin-left: 4rem;
        .fa-instagram,
        .fa-facebook,
        .fa-whatsapp,
        .fa-twitter {/*iconos redes*/
            padding: 10px;
            margin: 0.5rem;
            font-size: 20px;
            background-color: map-get($colores , secundario);
            @include shadow (50px, 3px);
            transition: 0.5s ease;
        }
        a {
            color: map-get($colores , salmon-claro) ;
        }
        i:hover { /*iconos hover*/
            background-color: map-get($colores , terciario);
            @include shadow (5px, 5px);
            color: map-get($colores, primario );
            opacity: 0.7;
            transform: scale(1.09);
        } 
    }
    
}
