/*VARIABLES*/
$full-width: 100%;

/*fuentes*/

$roboto-light: "Roboto Light", sans-serif;
$roboto-regular: "Roboto Regular", sans-serif;
$roboto-medium: "Roboto Medium", sans-serif;
$roboto-bold: "Roboto Bold", sans-serif;
$roboto-black: "Roboto Black", sans-serif;
$roboto-black-italic: "Roboto Black Italic", sans-serif;

/*colores*/

$primario: #AE2A3F;
$secundario: #1C3334;
$terciario: #F5F5F5;
$salmon-oscuro: #F8B195;
$salmon-claro: #FFD3B5;
$detalles-violeta: #783E75;
$detalles-naranja:#FF5733;